@font-face {
  font-family: Montserrat Regular;
  src: url(./fonts/Montserrat-Regular.woff2);
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: Montserrat Medium;
  src: url(./fonts/Montserrat-Medium.woff2);
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: Montserrat Italic;
  src: url(./fonts/Montserrat-Italic.woff2);
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: Montserrat Bold;
  src: url(./fonts/Montserrat-Bold.woff2);
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: Montserrat ExtraBold;
  src: url(./fonts/Montserrat-ExtraBold.woff2);
  font-display: auto;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Medium';
}

.container {
  width: 75%;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  font-family: 'Montserrat Bold';
  text-align: center;
}

.primary-btn {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: 0;
  padding: 14px 36px;
  transition: .3s;
}

.primary-btn:hover {
  color: #4985FF;
  background: #FFFFFF;
  cursor: pointer;
}

header {
  border-bottom: 1px solid #A1A1A1;
  height: 100px;
  position: absolute;
  width: 100%;
}

header ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header img {
  display: none;
}

header ul li {
  padding: 40px 20px 40px 20px;
  transition: .3s;
}

header ul li:hover {
  border-bottom: 2px solid #fff;
}

header ul li a {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.zero {
  background-image: url(./img/Rectangle.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

h1 {
  font-family: 'Montserrat Bold';
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  margin: 20px 0 50px;
  text-align: center;
}

.zero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.zero-content > div {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.our-services {
  padding: 110px 0 105px;
}

.our-services .container > p {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin: 50px 0 70px;
  font-family: 'Montserrat Regular';
}

.our-services-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.service {
  flex: 1;
  display: flex;
}

.service .outer-circle {
  border: 1px solid #E0E0E0;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service .inner-circle {
  border: 1px solid #4985FF;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service .service-info {
  margin-top: 46px;
  margin-left: 17px;
}

.service .service-title {
  font-size: 18px;
  line-height: 22px;
}

.service .service-descr {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  font-family: 'Montserrat Regular';
}

.our-services .button-block {
  text-align: center;
}

.our-works {
  padding: 100px 0 85px;
  background: linear-gradient(#504DC2 50%, #fff 50%);
}

.our-works-title {
  display: flex;
}

.our-works-title h2 {
  text-align: left;
  flex: 1;
  margin: 0;
  color: #fff;
}

.our-works-title-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.our-works-content {
  display: flex;
  justify-content: space-between;
  padding: 70px 0 85px;
  border-bottom: 1px solid #E0E0E0;
}

.our-works-item {
  width: 31%;
  /* border: 1px solid red; */
}

.our-works-item img {
  width: 100%;
}

.our-works-item h3 {
  font-size: 18px;
  line-height: 22px;
  margin: 30px 0;
}

.our-works-item h3 span {
  color: #4985FF;
}

.our-works-item p {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  font-family: 'Montserrat Regular';
  margin-bottom: 30px;
}

.our-works-item a {
  font-size: 16px;
  line-height: 20px;
  color: #4985FF;
  font-family: 'Montserrat Regular';
}

.about-work {
  background-image: url(./img/Rectangle\ \(1\).png);
  background-size: cover;
  text-align: center;
  padding-top: 70px;
  /* position: relative;
  height: 570px; */
}

.about-work h2 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
}

.about-work p {
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: 'Montserrat Regular';
  margin: 0;
}

.about-work .video {
  width: 70%;
  margin: 0 auto;
  height: 430px;
  background-image: url(./img/Rectangle\ 2\ \(1\).png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  top: 80px;
  /* position: absolute;
  bottom: -80px;
  left: 0;
  right: 0; */
}

.about-work .video .play {
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.about-work .video .play img {
  padding-right: 21px;
}

.spam { 
  padding-top: 165px;
  text-align: center;
}

.spam .container {
  border-top: 1px solid #E0E0E0;
  padding: 85px 0;
}

.spam h3 {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.spam p {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  font-family: 'Montserrat Regular';
  margin: 20px 0 30px;
}

.spam p.note {
  font-size: 13px;
  line-height: 21px;
  margin: 35px 0 0 0;
}

.spam form {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.spam form input {
  flex: 2;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0 0 30px;
  padding-left: 33px;
  color: black;
  font-size: 13px;
  line-height: 21px;
  font-family: 'Montserrat Regular';
}

.spam form input::placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 21px;
  font-family: 'Montserrat Regular';
}

.spam form input:focus {
  outline: 0;
}

.spam form button {
  flex: 1;
  border-radius: 0 30px 30px 0;
}

footer {
  background-color: #F6F6F8;
  padding-top: 70px;
}

footer .rights {
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  font-family: 'Montserrat Regular';
  padding: 30px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 70px;
}

footer .info {
  width: 23%;
  /* border: 1px solid red; */
}

footer .info h3 {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 35px 0;
}

footer .info ul {
  list-style-type: none;
  padding-left: 0;
}

footer .info li {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  font-family: 'Montserrat Regular';
  margin-bottom: 30px;
}

footer .info li::before {
  margin-right: 12px;
  content: url(./img/right-arrow.png);
}

footer .info li.mail::before {
  content: url(./img/envelope.png);
}
footer .info li.phone::before {
  content: url(./img/call.png);
}
footer .info li.location::before {
  content: url(./img/call.png);
}

footer .info li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1600px) {

}
@media (max-width: 1200px) {
  
}
@media (max-width: 900px) {
  header {
    height: 50px;
  }
  header ul {
    display: none;
  }
  header img {
    display: block;
  }
  header .container {
    display: flex;
    justify-content: flex-end;
  }
  h2 {
    font-size: 26px;
    line-height: 28px;
  }
  p {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  .our-services-list {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  
}
@media (max-width: 450px) {
  
}

